.parent {
  width: 25%;
  border: 1px solid black;
  text-align: left;
}

.adFields{
  margin: .2rem;
  padding: .1rem .5rem;
}

.image{
  margin: .2rem;
  padding: .1rem .5rem;
}

.save{
  margin: .2rem;
  padding: .1rem .5rem;
}

.child{
  display:inline-block;
  vertical-align: middle;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}